# IDE (JetBrains, VSCode)
.idea/
kazantseva-rehab.iml
.vscode/

# Vercel
.vercel/

# Исключаем папки сборки и зависимости
node_modules/
.next/
out/
dist/

# Логи и временные файлы
*.log
yarn.lock
package-lock.json

# Файлы конфигурации
.env
.env.local
.env.development
.env.production

# Кэш и системные файлы
.DS_Store
*.swp

# локальные для отладки
/public/hidden-images/
/app/hidden/
/app/api/hidden-images/
/app/api/comments/
/data/
