/* app/prices/Prices.module.css (Версия без стилей для tooltip) */

.title {
  margin-bottom: 24px;
  text-align: center;
  color: #249b89;
  font-size: 1.5rem;
}

.priceTable {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
}

.priceTable th {
  padding: 12px;
  border-bottom: 2px solid #249b89;
  background: #f8f9fa;
  color: #333;
  font-weight: 600;
  text-align: left;
  vertical-align: middle;
}

.priceTable td {
  padding: 12px;
  border-top: 1px solid #e9ecef;
  text-align: left;
  vertical-align: middle;
}

/* "Зебра" для строк таблицы */
.evenRow {
  background-color: #f8f9fa;
}

/* Класс для выравнивания по центру */
.centerAlign {
  text-align: center;
}

.rulesLink {
  color: #249b89;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: underline;
  transition: opacity 0.2s;
}

.rulesLink:hover {
  opacity: 0.8;
}

/* СТИЛИ ДЛЯ ИНФОРМАЦИОННОГО БЛОКА */
.infoBlock {
  margin: 0 auto 24px;
  padding: 16px;
  background-color: #f8f9fa; /* Используем тот же фон, что и у четных строк таблицы */
  border-left: 5px solid #249b89; /* Яркий акцент в основном цвете сайта */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0 8px 8px 0; /* Скругление углов, чтобы соответствовать таблице */
  max-width: 95%; /* Чтобы на больших экранах блок не был слишком широким */
}

.infoBlock p {
  margin: 0 0 8px;
  line-height: 1.5;
}

.infoBlock p:last-child {
  margin-bottom: 0;
}
/* КОНЕЦ СТИЛЕЙ ДЛЯ БЛОКА */

/* Мобильная версия */
@media (max-width: 600px) {
  .priceTable th,
  .priceTable td {
    font-size: 14px;
    padding: 8px;
    line-height: 1.3;
  }
  .container {
    padding: 5px;
  }
}
