/* app/services/[slug]/ServiceDetail.module.css */

.serviceContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.serviceTitle {
  font-size: 2rem;
  color: #249b89;
  margin-bottom: 8px;
  text-align: center;
}

.serviceSubtitle {
  font-size: 1.1rem;
  color: #666;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.serviceHeading {
  font-weight: bold;
  color: #249b89;
  text-decoration: none;
}
.highcolor {
  color: #249b89;
  text-decoration: none;
}
